@import '../node_modules/hamburgers/dist/hamburgers.min.css';
@import '../node_modules/flickity/css/flickity.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue: #0e428a;
  --darkGray: #4b4b4b;
  --green: #07522c;
  --black: #000;
  --red: #ff0000; 
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
  
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Light", sans-serif;
  font-size: 16px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Medium", sans-serif;
}


@font-face {
  font-family: "Montserrat ExtraLight";
  font-weight: 200;
  src: url("../src/fonts/Montserrat-ExtraLight.woff2") format(woff2),
      url("../src/fonts/Montserrat-ExtraLight.woff") format(woff);
}

@font-face {
  font-family: "Montserrat Light";
  font-weight: 300;
  src: url("../src/fonts/Montserrat-Light.woff2") format(woff2),
      url("../src/fonts/Montserrat-Light.woff") format(woff);
}

@font-face {
  font-family: "Montserrat Regular";
  font-weight: 400;
  src: url("../src/fonts/Montserrat-Regular.woff2") format(woff2),
      url("../src/fonts/Montserrat-Regular.woff") format(woff);
}

@font-face {
  font-family: "Montserrat Medium";
  font-weight: 500;
  src: url("../src/fonts/Montserrat-Medium.woff2") format(woff2),
      url("../src/fonts/Montserrat-Medium.woff") format(woff);
}

@font-face {
  font-family: "Montserrat Bold";
  font-weight: 700;
  src: url("../src/fonts/Montserrat-Bold.woff2") format(woff2),
      url("../src/fonts/Montserrat-Bold.woff") format(woff);
}

.logo img {
  @apply w-[300px];
  aspect-ratio: 420 / 200;
}



 

